table, th,td { 

    border: 1px solid black; 
  
    border-collapse: collapse; 
  
  } 
  
   
  
  th,td { 
  
    padding: 15px; 
  
    text-align: center; 
  
  } 
  
   
  
  caption { 
  
    caption-side: bottom; 
  
    text-align: center; 
  
    font-style: italic; 
  
    font-weight: bold; 
  
    color: black; 
  
  } 
  
   
  
  .table-simple th { 
  
    background-color: rgb(114, 40, 86); 
  
    color: rgb(47, 3, 53); 
  
  } 
  
   
  
  .table-simple tr:nth-child(even) { 
  
    background-color: #ececec; 
  
  } 
  
   
  
  .table-simple tr:nth-child(odd) { 
  
    background-color: #fff; 
  
  } 
  
   
  
  .table-simple tr:hover { 
  
    background-color: #acffe3; 
  
  } 
  .head-body-foot thead {

    color: purple;
    
    background-color: rgb(243, 136, 13);
    
    }
    
    .head-body-foot tbody {
    
    color: rgb(182, 212, 182);
    
    font-weight: bold;
    
    background-color: rgb(68, 39, 177);
    
    }
    
    .head-body-foot tfoot {
    
    color: rgb(5, 4, 0);
    
    background-color: rgb(227, 231, 233);
    
    font-weight:bold ;

    
    }
    .head-body-foot thead:hover {

      background-color: #acffe3;
      
      }
      .head-body-foot tbody:hover {

      background-color: #62fc77;
      
      }
      .head-body-foot tfoot:hover {

        background-color: #2cc491;
        
        }
        .scroll-bar {
          overflow-x: auto;
        }
        