table, td, th {
    border: 5px solid black;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 15px
}
td {
    text-align: center;
}
caption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: black;
}